.header{
		margin: 10% 10% 0 10%;
		/* top right bottom left */
		text-align: left;
		font-size: 4em;
		font-style: italic;
		font-weight: 900;
    letter-spacing: 10px;
    text-shadow: 5px 2px #efb1ff;
	}